<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
    <head th:replace="~{common/header::header}"></head>
    <body>
    <div class="container-sm w-25 y-5 mt-5 p-5 border border-secondary rounded-3">
        <form th:action th:object="${member}" method="post">
            <div class="mb-3">
                <label for="loginId" class="form-label">Id</label>
                <input type="text" class="form-control" id="loginId" th:field="*{loginId}">
                <div th:errors="*{loginId}"></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}">
                <div th:errors="*{password}"></div>
            </div>
<!--            <div class="mb-3 form-check">-->
<!--                <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--            </div>-->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </body>
</html>